depexts: [
  ["@tanstack/react-query"] {npm-version = "^5.20.1"}
]
pin-depends: [
  ["reason-react.dev" "https://github.com/reasonml/reason-react/archive/47da6ae6e11d49363d59313b9fe5c5968ba13045.tar.gz"]
  ["reason-react-ppx.dev" "https://github.com/reasonml/reason-react/archive/47da6ae6e11d49363d59313b9fe5c5968ba13045.tar.gz"]
]